@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<main>
    <header>
        <a href="/" id="logo">
            <h3>DEVTEST HELPER TOOLS</h3>
        </a>
    </header>

    <div class="content">
        @Body
    </div>
</main>
