@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web

<div>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <i class="fas fa-bars"></i>
    </button>
</div>
<div class="@NavMenuStateClass" @onclick="ToggleNavMenu">
    <ul class="nav-list">
        <li class="nav-item">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Home</NavLink>
        </li>

        <li class="nav-item">
            <NavLink class="nav-link" href="/hash">Hash</NavLink>
        </li>

        <li class="nav-item">
            <NavLink class="nav-link" href="/base64">Base64</NavLink>
        </li>
    </ul>
</div>
