@page "/hash"

@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web

<EditForm Model="@_hash" OnValidSubmit="ComputeHash">
    <DataAnnotationsValidator />

    <div class="select-container">
        <InputSelect id="hashType" required @bind-Value="_hash.Algorithm" @onclick="SelectMenu.ToggleArrow" @onfocusout="SelectMenu.ToggleArrowClosed" @onkeydown="SelectMenu.ToggleArrowOnKeys" @onkeyup="SelectMenu.ToggleArrowOnKeys">
            <option value="">Select algorythm</option>

            @foreach (var hashType in _hashService.GetHashTypes())
            {
                <option value="@hashType.Value">@hashType.Key</option>
            }
        </InputSelect>

        <i class="fas fa-chevron-@SelectMenu.SelectMenuIconClass"></i>
    </div>

    <div class="textarea-container">
        <InputTextArea id="input" placeholder="Enter your text here..." @bind-Value="_hash.InputString" />
    </div>

    <div>
        <button type="submit" id="generate">GENERATE</button>
    </div>

    <div class="text-data">
        <p>
            <label for="result">Hash:</label>
            <div id="result" class="text-block">@_result</div>
        </p>
    </div>
</EditForm>
